:root {
  --primary-color: #525d4d;
  --secondary-color: #6e7c65;
  --third-color: #9fac9a;

  --light-gray-color: #d9d9d9;
  --medium-gray-color: #b3b3b3;
  --dark-gray-color: #595757;

  --black-color: #000000;
}
